body {
background-color: #D42A3b;
Font-Family: Times New Roman;
Font-size: 20px;
}
h1 {
font-size: 45px;
color: #756B67;
font-family:Impact;
text-align: Center
}
img 
{display: block;
margin-right: auto;
margin-left: auto;
}
